.header {
    padding: 60px;
    text-align: center;
    background:black;
    color: white;
    font-size: 30px;
  }


.navbar {
    list-style-type: none;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .navbar a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .navbar li a:hover {
    background-color: #555;
    color: white;
  }

  .main {
    margin-left: 160px; 
    font-size: 28px; 
    padding: 0px 10px;
  }
  


  table {border-collapse: collapse; font-family: helvetica}
  td, th {border:  1px solid;
 
        padding: 10px;
        min-width: 300px;
        position: relative;
        background: white;
        box-sizing: border-box;
        text-align: left;
  }
  thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    background: hsl(20, 50%, 70%);
  }
  
  thead th:first-child {
    left: 0;
    z-index: 3;
  }
  
  tfoot {
    position: -webkit-sticky;
    bottom: 0;
    z-index: 2;
  }
  
  tfoot td {
    position: sticky;
    bottom: 0;
    z-index: 2;
    background: hsl(20, 50%, 70%);
  }
  
  tfoot td:first-child {
    z-index: 3;
  }
  
  tbody {
    overflow: scroll;
    height: 200px;
  }
  
  /* MAKE LEFT COLUMN FIXEZ */
  tr > :first-child {
    position: -webkit-sticky;
    position: sticky; 
    background: hsl(180, 50%, 70%);
    left: 0; 
  }
  /* don't do this */
  tr > :first-child {
    box-shadow: inset 0px 1px black;
  }
  

  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 4px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
 
  
 
 
